spring:
  application:
    name: solicitudes-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://192.168.100.124:8081/realms/tpi-backend
          # issuer-uri: http://keycloak:8080/realms/tpi-backend
          # issuer-uri: http://host.docker.internal:8081/realms/tpi-backend
          # issuer-uri: http://localhost:8081/realms/tpi-backend
  datasource:
    url: jdbc:h2:mem:solicitudesdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health

h2:
  console:
    enabled: true