spring:
  cloud:
    gateway:
      routes:
        - id: clientes-service
          uri: http://clientes-service:8082
          predicates:
            - Path=/clientes/**
          filters:
            - RewritePath=/clientes(?<segment>.*), /api/v1/clientes${segment}
            # - RewritePath=/clientes/(?<segment>.*), /api/v1/clientes${segment}

        - id: solicitudes-service
          uri: http://solicitudes-service:8083
          predicates:
            - Path=/solicitudes/**
          filters:
            - RewritePath=/solicitudes(?<segment>.*), /api/v1/solicitudes${segment}

        - id: keycloak
          uri: http://keycloak:8080
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /${segment}

        # Ruta específica para Swagger de clientes-service - CORREGIDA
        # En el Gateway - CORREGIR ESTA RUTA
        - id: clientes-service-api-docs
          uri: http://clientes-service:8082
          # uri: http://localhost:8082
          predicates:
            - Path=/clientess-service/v3/api-docs  # ← Coincide con "clientes-service"
          filters:
            - RewritePath=/clientess-service/v3/api-docs, /v3/api-docs

        # Ruta específica para Swagger de clientes-service - CORREGIDA
        - id: solicitudes-service-api-docs
          uri: http://solicitudes-service:8083
          predicates:
            - Path=/solicitudes-service/v3/api-docs
          filters:
            - RewritePath=/solicitudes-service/v3/api-docs, /v3/api-docs

