server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: clientes-service
          uri: http://localhost:8081
          predicates:
            - Path=/clientes/**
        - id: logistica-service
          uri: http://localhost:8082
          predicates:
            - Path=/logistica/**
        - id: solicitudes-service
          uri: http://localhost:8083
          predicates:
            - Path=/solicitudes/**


  cloud:
    gateway:
      routes:
        - id: clientes-service
          uri: http://localhost:8081
          predicates:
            - Path=/clientes/**
          filters:
            - name: RewritePath
              args:
                regexp: "/clientes(?<segment>.*)"
                replacement: "/api/v1/clientes${segment}"
