server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: clientes-service
          uri: http://localhost:8081
          predicates:
            - Path=/clientes/**
          filters:
            - name: RewritePath
              args:
                regexp: "/clientes(?<segment>.*)"
                replacement: "/api/v1/clientes${segment}"
