server:
  port: 8080

spring:
  application:
    name: gateway-service
  
  cloud:
    gateway:
      routes:  # keycload utilizará el 8081
        - id: clientes-service
          uri: http://localhost:8082
          predicates:
            - Path=/clientes/**
          filters:
            - name: RewritePath
              args:
                regexp: "/clientes(?<segment>.*)"
                replacement: "/api/v1/clientes${segment}"

# Logging mínimo pero efectivo
logging:
  level:
    com.tpi.gateway: INFO
    org.springframework.cloud.gateway: DEBUG
