spring:
  # profiles:
  #  active: dev

  application:
    name: clientes-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://192.168.100.124:8081/realms/tpi-backend
          # issuer-uri: http://keycloak:8080/realms/tpi-backend
          # issuer-uri: http://localhost:8081/realms/tpi-backend
          # issuer-uri: http://host.docker.internal:8081/realms/tpi-backend
  datasource:
    url: jdbc:h2:mem:clientesdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

server:
  port: 8082


management:
  endpoints:
    web:
      exposure:
        include: health

h2:
  console:
    enabled: true


# CONFIGURACIÓN SWAGGER PARA DESARROLLO
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    operations-sorter: method    # ✅ VALORES CORRECTOS
    tags-sorter: alpha           # ✅ "alpha" SÍ es válido para tags-sorter


    # Configuración para cuando se accede a través del Gateway
    url: /clientes-service/v3/api-docs
    config-url: /clientes-service/v3/api-docs/swagger-config